{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Users
{% endblock title %}

{% block content %}
{% for profile in userlist %}
    <h4>{{ profile.username }} -
        {% if not profile.is_active %}
            <a class="btn btn-success" href="/account/confirm_user/{{ profile.id }}">Activate</a>
        {% else %}
            <a class="btn btn-danger" href="/account/deactivate_user/{{ profile.id }}">Dectivate</a>

        {% endif %}
    </h4>
{% endfor %}

{% endblock content %}
