{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Tasks
{% endblock title %}
{% block content %}



   <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form%}
        <h4>
            {{ field.label_tag }}<br>
            {{ field }}
        </h4>
    {% endfor %}
       <style>
            #id_name{
                width: 100%;
            }

       </style>

    <input type='submit' class="btn btn-lg btn-primary" value='Add language' />
</form>

    {% for language in all_languages %}
        <div style="border: 2px dotted black; width: 50%; margin: 5px">
            <a href="/delete_language/{{ language.id }}" class="btn btn-danger">✘</a>
            {{ language.name }}<br>
        </div>
    {% endfor %}

{% endblock content %}
