{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    JS Editor
{% endblock title %}
{% block content %}


    <textarea class="codemirror-textarea" id="codemirror-textarea" ></textarea>
    <button class="btn btn-success m-4 w-25" id="run-button">Run</button>
    <div class="resultblock" style="min-height: 300px; width: 100%; background-color: grey; color: ghostwhite"></div>

    <script>
    let basic_text = `<h1>
  Hello world
</h1>

<h4>
  It is your frondend sandbox. Try it.
</h4>

<script>
\tlet arr = [];
  \tfunction func() {
\t\tlet value = 1;
\t\treturn value;
\t}
\talert(func())
\</s` + 'cript>';
    $(".codemirror-textarea").text(basic_text);

    let myCodeMirror = CodeMirror.fromTextArea($('#codemirror-textarea')[0], {
        mode:  "htmlmixed",
        lineNumbers: true,
       theme: 'material-darker',
        autoCloseTags: true,

    });
    $('#run-button').click(function () {
         {#myCodeMirror.toTextArea();#}
        let code = $('.CodeMirror-line').text();
        $(".resultblock").html(code);
    });


    </script>

    <style>

    </style>
{% endblock content %}
