{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Tasks
{% endblock title %}
{% block content %}



<button class="btn btn-secondary" data-toggle="collapse" data-target=".multi-collapse" role="button" aria-expanded="false" aria-controls="form-for-code problemslist">Add code</button>
   <form class="collapse multi-collapse" id="form-for-code" method="post" enctype="multipart/form-data">{% csrf_token %}
{% for field in form%}
    <h4>
        {{ field.label_tag }}
        <p>{{ field }}</p>
    </h4>
{% endfor %}
       <style>
            #id_title{
                width: 100%;
            }
            #id_problemtext{
                width: 100%;
            }



       </style>


    <input type='submit' class="btn btn-lg btn-primary run-button" value='Create Post' />

</form>
    <div id="problemslist" class="collapse show multi-collapse mt-2" >
        {% for problem in all_tasks %}

            <div style="border: 2px dotted black; width: 100%; margin: 5px">
                <p>

                    <span class="text-danger"><a data-toggle="collapse" href="#problem-code-{{ problem.id }}"
                                                 role="button" aria-expanded="false" aria-controls="collapseExample"
                                                 class="btn btn-warning mr-1">{{ problem.title }}</a>({{ problem.language }})</span>
                </p>
                <div id="problem-code-{{ problem.id }}" class="collapse">{{ problem.problemtext | linebreaks }}
                    <pre>
                <code data-language="{{ problem.language }}">{{ problem.solutioncode }}</code>
            </pre>
                </div>
            </div>
        {% endfor %}
    </div>
    




    <script>
        $('#id_problemtext').attr("rows", 5);
        $('#id_solutioncode').addClass("codemirror-textarea");
    function codemirror(mode='javascript'){
        return CodeMirror.fromTextArea($('.codemirror-textarea')[0], {
            mode: `${mode}`,
            lineNumbers: true,
           theme: 'material-darker',
            autoCloseTags: true,



        });
    };
    let myCodeMirror = codemirror();
    $('.run-button').click(function () {
         myCodeMirror.toTextArea();
    });
    $('#id_language').change(function () {
        myCodeMirror.toTextArea();
        let choice = ($('#id_language').children("option:selected").text());
        if (choice === '---------'){
            choice = 'javascript';
        }else if (choice === 'html'){
            choice = 'htmlmixed';
        }
        myCodeMirror = codemirror(choice);

    });
    </script>
{% endblock content %}
